<%# { "layout":"/views/shared/master.html.ejs", "title":"Home Page" } %>
<div>
    <!-- jumbotron -->
    <div class="jumbotron">
        <h1>Welcome to TeoHaik's Automatic Site Health Checker!</h1>

    </div>
</div>